<%- include("partials/header") -%>

<div>
  <h1>Hello everyone</h1>
</div>
<form class="" action="/logout" method="post">
  <button type="submit" name="button">LOGOUT</button>
</form>


<%- include("partials/footer") -%>
